body {
  background-color: silver;
}
hr {
  border-style: dotted none none;
  border-width: 7px;
  border-color: black;
  height: 0px;
  width: 50%;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
img:hover {
  height: 400px;
  width: 400px;
}
h1 {
  color: black;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 3.2em;
}
h3 {
  color: chocolate;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: peachpuff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
